<template>
  <div>
    <h1>Agregar Juego</h1>
    <form @submit.prevent="guardarJuego()">
      <Input
        v-model="juego.nombre"
        titulo="Nombre"
        id="nombre"
        placeholder="Ingrese un nombre."
        :maxlength="80"
        mensajeError="Es necesario ingresar el nombre"
        :error="erroresValidacion && !validacionNombre"
      />
     
      <Input
        v-model="juego.publisher"
        titulo="Desarrolladora"
        id="publisher"
        placeholder="Ingrese un Desarrolladora."
        mensajeError="Es necesario ingresar el Desarrolladorar"
        :error="erroresValidacion && !validacionPublisher"
        :maxlength="60"
      />

       <div>
          <span>Categorias</span> <br>
          <b-form-select v-model="juego.category" :options="options"></b-form-select>
      </div>

      <Input
        v-model="juego.description"
        titulo="Descripcion"
        id="description"
        placeholder="Ingrese Descripcion."
        :maxlength="200"
      />
       <Input
        v-model="juego.year"
        titulo="Año"
        id="year"
        placeholder="Ingrese año."
        :maxlength="4"
      />

      <b-button type="submit" variant="primary" class="my-2">Guardar</b-button>

    </form>
  </div>
</template>

<script>
import Input from "../components/Input.vue";
import { mapActions } from "vuex";

export default {
  name: "Agregar",
  components: { Input },
  data() {
    return {
      select:null,
        options: [
          { value: null, text: 'Selecciona una Categoria' },
          { value: '11', text: 'Aventura' },
          { value: '12', text: 'Acción' },
          { value: '13', text: 'Estrategia' },
          { value: '14', text: 'Fantacia'},
          { value: '15', text: 'Pelea T/P'},
          { value: '16', text: 'Simulacion'}
        ],
      juego: {
        nombre: "",
        publisher: "",
        category: "",
        description: "",
        year: ""
      },
      erroresValidacion: false,
    };
  },
  computed: {
    validacionNombre() {
      return (
        this.juego.nombre !== undefined && this.juego.nombre.trim() !== "");
    },
    validacionPublisher() {
      return (
        this.juego.publisher !== undefined && this.juego.publisher.trim() !== "");
      }
  

  },
  methods: {
    ...mapActions(["agregarJuego"]),
    guardarJuego() {
      if (this.validacionNombre && this.validacionPublisher) {
        // Si tengo los datos que valide
        this.erroresValidacion = false;
        console.log("Si puedo guardar");

        this.agregarJuego({
          params: this.juego,
          onComplete: (response) => {
            console.log(response);
            this.$notify({
              title: response.data.mensaje,
              type: "success",
            });
            this.$router.push({
                name: 'Visualizar'
            })
          },
          onError: (error) => {
            console.log(error.response.data.mensaje);
            this.$notify({
              type: "error",
              title: error.response.data.mensaje,
            });
          },
        });
      } else {
        this.erroresValidacion = true;
      }
    },
    limpiar() {
      this.juego = {
        nombre: "",
        publisher: "",
        category: "",
        description: "",
        year: ""
      };
    },
  },
};
</script>

<style>


</style>
