
<template>
  <div>
    <br>
    <h1>Editar Juego</h1>
    <form @submit.prevent="guardarJuego()">
    <!-- Disable ID -->
      <Input 
      v-model="juego.idgame" 
      titulo="Clave" 
      id="id" 
      disabled />
      <!-- Disable Nombre -->
      <Input
        v-model="juego.nombre"
        titulo="Nombre"
        id="nombre"
      />
    <!-- Editar Publisher -->
      <Input
        v-model="juego.publisher"
        titulo="Desarrolladora"
        id="publisher"
        type="text"
        placeholder="Ingrese un Desarrolladora."
        :maxlength="60"
        :error="erroresValidacion && !validacionPublisher"
      />
          <!-- Editar Category -->
          <div>
            <span>Categoria</span> <br>
            <b-form-select v-model="juego.category" :options="options"></b-form-select>
         </div>

      <!-- Editar Description -->
      <Input
        v-model="juego.description"
        titulo="Descripcion"
        id="description"
        placeholder="Ingrese un descripcion."
        :maxlength="200"
      />

    <!-- Editar Year -->
      <Input
        v-model="juego.year"
        titulo="Año"
        id="Year"
        placeholder="Ingrese año."
        :maxlength="4"
      />
    <!-- Boton Guardar -->
      <b-button type="submit" variant="primary" class="my-2">Guardar</b-button>

    </form>
  </div>
</template>

<script>
import Vue from "vue";
import Input from "../components/Input.vue";
import { mapActions } from "vuex";

export default {
  name: "Editar",
  components: { Input },  
  data() {
    return {
      juego: { },
      erroresValidacion: false,
       options: [
          { value: null, text: 'Selecciona una Categoria' },
          { value: '11', text: 'Aventura' },
          { value: '12', text: 'Acción' },
          { value: '13', text: 'Estrategia' },
          { value: '14', text: 'Fantacia'},
          { value: '15', text: 'Pelea T/P'},
          { value: '16', text: 'Simulacion'}
        ],
    };
  },
  computed: {
      //si esta vacio, genera mensaje de campo obligatorio
    validacionPublisher() {
      return (
        this.juego.publisher !== undefined && this.juego.publisher.trim() !== ""
      );
    },
  },

  methods: {
    ...mapActions(["editarJuego", "obtenerJuego"]),

    guardarJuego() {
      if (this.validacionPublisher) {
        // Si tengo los datos que valide
        this.erroresValidacion = false;
        console.log("Si puedo guardar");
        
        this.editarJuego(
        {
          id: this.$route.params.id,
          params: this.juego,
          onComplete: (response) => {
            console.log(response);
                this.$notify({
                title: response.data.mensaje,
                type: "success",
                });
            
            this.$router.push({
              name: "Visualizar",
            });
        },
        
    onError: (error) => {
    console.log(error.response.data.mensaje);
    this.$notify({
        type: "error",
        title: error.response.data.mensaje,
            });
        },
    });
      
      } else {
        this.erroresValidacion = true;
      }
    },
  },
  mounted() {
    this.obtenerJuego({
      id: this.$route.params.id,
      onComplete: (response) => {
        Vue.set(this, "juego", response.data.result);
      },
    });
  },
};
</script>

<style></style>