<template>
  <div id="principal">
    <br>
      <h1>Video Juegos</h1>
      <b-button id="button" to="/agregar" variant="outline-primary" class="mx-1">Agregar</b-button>
     <Tarjeta
      v-for="j in juegos"
      :key="j.idgame"
      :id="j.idgame"
      :nombre="j.nombre"
      :publisher="j.publisher"
      :description="j.description"
      :year="j.year"
    />
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import Tarjeta from '../components/Tarjeta.vue'
export default {
  name: 'Visualizar',
  components: {
      Tarjeta
  },
  computed:{
      ...mapState(["juegos"])
  },
  methods:{
      ...mapActions(["listar"])
  },

  created(){
    this.listar();
  }
  
}
</script>

<style>
  div h1{
    width: 25%;
    margin-left: 400px;
    font-family: 'Times New Roman', Times, serif;
    border: gray;
    border-style: outset;
    text-shadow: 5px 5px 5px rgb(199, 199, 199);
    text-align: center;
  }

  #principal
  {
    width: 100%;
    height: 100%;
  }

  #button
  {
   color: rgb(0, 31, 72);
   border-color: rgb(21, 134, 255);
   
  }
</style>
