<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Video Juegos  |</router-link>
    </div>
    <router-view/>
    <notifications position="bottom right" />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  max-width: 1000px;
  margin: 0 auto;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #152e91;
}

#nav a.router-link-exact-active {
  color: black
}

.fondo
{
  background-color: #000000;
}

</style>
