<template>
  <div class="Tarjeta">
      <!-- <span>{{id}}</span> -->
      <h2 class="nombreVJ">{{nombre}}</h2>
      <p class="info">Desarrolladora: <span class="subtitulo">{{publisher}} </span></p>
      <p class="info">Descripcion: <span class="subtitulo">{{description}}</span> </p>
      <p class="info">Año: <span  class="subtitulo">{{year}}</span></p>
      <b-button :to="`/editar/${id}`" variant="outline-success" class="mx-1">Editar</b-button>
      <b-button @click="eliminar(id)" variant="outline-danger" class="mx-1">Eliminar</b-button>
  </div>
  
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name: "Tarjeta",
    props:{
        id:{
            type: [String, Number],
            required: true,
        },
        nombre:{
            type: String,
            required: true,
            
        },
         publisher:{
            type: String,          
        },
         description:{
            type: String,          
        },
         year:{
            type: String, 
            default: ""         
        },
    },
    computed:{
        
    },
    methods:{
        ...mapActions(['eliminarJuego', 'listar']),

        eliminar(idItem) {
            this.$bvModal.msgBoxConfirm('Esta opción no se puede deshacer.', {
                title: '¿Desea eliminar Juego?',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                okTitle: 'ACEPTAR',
                cancelTitle: 'CANCELAR',
                footerClass: 'p-2',
                hideHeaderClose: true,
                centered: true
                })
                .then(value => {
                    if(value) {
                    this.eliminarJuego({
                        id: idItem,
                        onComplete: (response) => {
                        this.$notify({
                            type: 'success',
                            title: response.data.mensaje
                        });
                        setTimeout(() => this.listar(), 1000);
                        }
                    })
                    }
                })
                .catch(err => {
                    // An error occurred
                })
            },
    },  
};
</script>

<style>

    .Tarjeta{
        color: white;
        background: radial-gradient(circle, rgba(34,34,34,0.908000700280112) 0%, rgba(0,0,0,0.6250875350140056) 61%);
        margin: 15px 15px;
        padding: 15px 15px;
        border: solid 1px black;
        border-radius: 15px;
    
        text-align: center;
    }

    .nombreVJ
    {
        font-family: 'Times New Roman', Times, serif
    }
    
    .info
    {
        font-weight: bold;
        font-style: italic;
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
    }

    .subtitulo
    {
        font-style: normal;
        font-weight: normal;
        
    }
</style>